@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;

}

:root {
  --primary-color: #122223;
  --secondary-color: #F6F2F2;
  --tertiary-color: #81B59F;
  --accent-color: #F2FEDC;
  --attention-color: #E03D5A;
  --neutral-color: #F0C7B9;
}


/* Navbar */

.navbar {
  height: 12vh;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

}

.logo {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.9em;
  letter-spacing: 4px;
}

.navbar .navigation .menu {
  position: fixed;
  background-color: var(--tertiary-color);
  transition: 1s ease all;
  top: 12vh;
  margin: 0;
  width: 100%;
  height: 100vh;

}

.navbar .navigation .menu.active {
  right: 0;
}

.navbar .navigation .menu.hidden {
  right: -120%;
}

.menuBtn {
  right: 7vw;
}

.navbar .navigation .menu .menuItem a {
  color: var(--secondary-color);
}

.navbar .navigation .menuIcon {
  font-size: 1.5em;
  color: var(--primary-color);
}


/* Content */
.introContent {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: left;
  direction: column;
  margin-top: 15%;
}

.introContent .heading {
  color: var(--accent-color);
  font-size: clamp(3.6rem, 11vw, 8rem);
  font-family: 'Spectral';
  font-weight: 300;
  line-height: 1;
  margin-bottom: 8%;

}

.introContent .subheading {
  color: var(--secondary-color);
  font-size: clamp(2.5rem, 7vw, 3.7rem);
  font-family: 'Spectral';
  font-weight: 200;
  margin: 0;
  margin-bottom: 3%;
  line-height: 1;
}

.introContent .mainText {
  color: var(--secondary-color);
  font-size: clamp(1.2rem, 6vw, 1.3rem);
  font-family: 'Nunito Sans';
  font-weight: 400;
  margin-bottom: 12%;
}

.inputLabel {
  font-family: 'Nunito Sans' !important;
  font-weight: 400 !important;
  font-size: clamp(1.2rem, 6vw, 1.3rem) !important;
}

.boxOutline {
  margin-bottom: 12% !important;
}